body {
    margin: 0; /*убирает отступы фона по краям*/
    font-family: 'Secular One', sans-serif;
    background: url(bg.png);
    width: 100%;
    height: 55vw;
    background-color: #B3AFAA;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;

}

.shapka {
    display: flex;
    text-decoration:none;
    
}
.nav {
    justify-content: space-between;
    width: 90vw;
   
    padding-top: 1vw; /*Внутренний отступ*/
    /*эл-ты распалагаются в одну линию*/
    align-items: center;
    justify-content: left;
    margin-left: 4vw;
    
}
.nav-item {
    
    color: #2c2721;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;     
    font-size: 1vw;
    margin-right: 4.2vw;
    margin-left: 1vw;
    text-align: left;
    transition: color 0.2s linear;
}

.nav-item:hover { /*Наведение мышкой*/
    color: #897367;
}

.logo {
    width: 2vw;
    height: 2vw;
}
.button1 {
    margin-left: 10vw;
}

.entrance{
    width: 2vw;
    height: 1vw;
    border-radius: 1.6vw;
    background-color: #3D3730;
    box-shadow: 0 3vw 3vw rgba(0, 0, 0, 0.2);

    color: #e6c9c9;
    font-size: 1vw;
    text-decoration: none;
    padding: 0.6vw 1vw;
    font-weight: 700;
    text-align: center;
    margin-left: 2vw;
    transition: background-color 0.2s linear;
}

.entrance:hover {
    background-color: #201d19;
}


.phone {
    margin-left: 38vw;
    text-align: right;
}

.num {
    color: #3D3730;
    text-decoration: none;
    align-items: center;
    transition: color 0.2s linear;
    font-size: 1vw;
    font-weight: 900;
}

.num:hover {
    color: #897367;

}

.num1 {
    color: #4f4437;
    text-decoration: none;
    align-items: center;
    font-size: 1vw;
    font-weight: 900;
}

.button {
    width: 2vw;
    height: 3vw;
    border-radius: 1.6vw;
    background-color: #3D3730;
    box-shadow: 0 3vw 3vw rgba(0, 0, 0, 0.2);

    color: #e6c9c9;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 0.8vw 3vw;
    font-weight: 700;
    text-align: center;
    margin-left: 22vw;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #201d19;
}



.line {
    content: "";
    display: block;
    width: 6vw; /*длина линии*/
    height: 0.3vw;
    background-color: #2c2721;
    margin: 2vw auto; /*Отсупы сверху и снизу*/
    margin-left: 27vw;
}

.text {
    text-align: center;
    margin-right: 40vw;
    margin-left: 3.7vw;
    font-weight: 10vw;
    font-size: 2vw;
    color: #646361;
    font-weight: 700;
}

.SP {
    color: #2c2721;
    text-decoration: none;
    font-weight: 900;     
    font-size: 5vw;
    margin-left: 15.4vw;
    font-family: 'Notable', sans-serif;
}



/*section*/
.section__header {
    width: 100vw;
    max-width: 100vw;
    margin: 18vw auto 4vw;
    text-align: center;
   
    
}

.section__suptitle {
    font-size: 2vw;
    color: #3D3730;
    margin-top: 10vw;
}

.section__suptitle:after {
    content: "";
    display: block;
    width: 35vw;
    height: 0.4vw;
    margin: 1vw auto 0;
    background-color: #D9D9D9;
}


.image{
    flex-direction: column;
    display: flex;
    align-items: center ;
    width: 100vw;
}


.image img {
    object-fit: cover;
    width: 10vw;
}


.carousel-inner {
    width: 100vw;
    max-width: 100vw;
}

/*Соц.сети  */
.wrapper {
    display: inline-flex;
    
    padding-top: 1vw;
    justify-content: center;
  }
  
.wrapper .icon {
    position: relative;
    background: #706a6af3;
    border-radius: 10vw;
    margin: 0.4vw;
    width: 2vw;
    height: 2vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 30vw 30vw 30vw rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tg:hover,
.wrapper .tg:hover .tooltip,
.wrapper .tg:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}
  
.wrapper .vk:hover,
.wrapper .vk:hover .tooltip,
.wrapper .vk:hover .tooltip::before {
    background: #0077FF;
    color: #fff;
}
  
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
}

footer{
    margin-top: 2vw;
    background-color:#D9D9D9 ;
    height: 6vw;
    display: flex;
    align-items:center ;
    position: relative;
    justify-content: space-between;
  }
  .phone1{
    margin-left: 65vw;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
  }
  .num1{
    margin-right: 2vw;
  }
  .number{
    margin-right: 2vw;
  }

.image_home {
    width: 1vw;
    height: 1vw;
}

.slaider {
    width: 90vw;
    height: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}